.linear-bg{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(38,154,195,1) 100%) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.nav-link{
	color: rgba(255,255,255,0.5)!important;
}
.nav-link:hover{
	color: rgba(255,255,255,0.8)!important;
}
.active{
	color: rgba(255,255,255,1)!important;
	border-bottom: solid 1px white;
}
.form-container{
	height: 100%;
	margin-top: 10vh;
	margin-bottom: 10vh;
}
.fa-envelope{
	transition: 0.2s;
	font-size: 10em
}

.fa-envelope:hover{
	transform: translateY(-.1em);
}

input[type="text"],
input[type="email"],
textarea,
button[type="submit"]{
	margin-right:3em;
	margin-bottom: 1.2em;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
	transition: 1s;
	box-shadow: none;
	outline: none;
}

.btn-send{
	background-color: #ffffff; 
	border: 1px solid #ced4da;
}

.btn-send,
.btn-send > i{
	transition: .5s;
}
.btn-send:hover,
.btn-send:focus
{
	border: 1px solid #0d6efd;
	color: #0d6efd; 
}

.btn-send:hover > i{
	color: #0d6efd; 
}
/*Responsive*/
@media screen and (max-device-width: 767px){
.fa-envelope{
	font-size: 8em;
	margin-top: 5vw;
}
}