nav,p{
	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
/*PageUp Button*/
.pageUp{
	text-align: center;
	border-radius: 10em;
	width: 50px;
	height: 50px;
	font-size: 2em;
	color: #fff;
	background-color: black;
	bottom: 0;
	right: 0;
	margin: 1em;
	position: fixed;
	cursor: pointer;
}

.trapecio{
	width: 100%;
    height: auto;
    background-color: transparent;
    border-right: 10vw solid transparent;
    border-left: 10vw solid transparent;
    border-top: 60px solid rgba(255, 255, 255, 1);
	transform: translateY(-1px);
}
.title{
	transform: translateY(-45px);
	font-size: 2em;
}
.info-1{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	position: relative;
	margin-bottom: -50px;
	margin-top: -50px;
}

.navbar{
	padding: 1em;
}
.info-1 >.row > div:nth-child(even){
	box-shadow: 0em 0em 0.2em ;
}

@media screen and (max-width: 768px){
	.title{
		font-size: 1.5em;
	}
	.info-1{
	margin-bottom: 0px;
	margin-top: 0px;
}
}
@media screen and (max-width: 320px){
	.title{
		font-size: 1.4em;
	}
}
#title-group{
	background-color: rgba(200,200,250,0.7);
	border-radius: 50px;
	color: white;
}

.parallax-container{
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*Images for parallax effect*/
.img-1{
	background-image: url("../images/header.jpg");
}
.img-2{
	background-image: url("../images/Imagen-2.jpg");
}
.round{
	border-radius: 1.5em;
}
/*Footer Content*/
footer{
	color: rgb(243 236 236);
	background-color:rgb(23 24 28);

}
.social-media:hover{
	border-bottom: none;
}

.social-media > i{
	color:rgb(255,255,255,.95);
	transition: 0.3s;
	font-size: 2.5em;
	margin: .5em;
}

.social-media > .fa-facebook:hover{
	color: rgba(26,115,232,1);
	font-size: 3.3em;
}
.social-media > .fa-whatsapp:hover{
	color: rgba(0,155,25,1);
	font-size: 3.3em;

